@media all and (max-width: 632px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Nail\ art.svg);
    position:relative;
    background-size:contain;
    background-repeat:no-repeat;
    background-color: #e0aebd6b;
}
header{
   position: relative; 
   margin: 0px;
   padding: 10px;
   background-color: #e0aebd67;
   top: 0;
   justify-content: space-between;
}
.header_bar{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    text-align: center;
}
.menu_bar{
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
}
button{
    width: 200px;
    height: 50px;
    display: block;
    padding: 5px;
    justify-content: center;
    align-self: center;
    margin: 40px;
    border-radius: 60px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.664);
}
.button_prob{
    display: block;
    padding: 10px 5px;
    text-align: center;
}
.btn{
    margin-top: 50px;
}
.btn button{
    align-items: center;    
    margin-left: 28%;
    justify-content: center;
}
.insta_logo button{
    display: flex;
    text-align: center;
    gap: 20px;
}
.insta_logo a{
    text-align: center;
    margin-top: 0px;
    text-decoration: none;
}
footer{
    background-color: rgba(0, 0, 0, 0.945);
    margin-top: 100%;
    color: #e0aebd;
    padding: 0px;
}
.footer_btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 0px;
    padding: 10px;
}
.footer_btn a{
    text-decoration: none;
    color:#e0aebd;
}
.button_prop a{
    text-decoration: none;
    color: black;
}
}
